.body {
  padding-top: 5rem;
  background-image: url("summer background.jpg");
  color: grey;
}

h1{
  color: black;
  font-family: fantasy;
}


.yaya{
  color: rgb(232, 190, 2)
}

p{
  color: grey;
}

.btn-primary {
  color: purple;
  background-color: yellow;
}

.btn-primary:hover{
  color:yellow
  background-color: purple;
}

.btn-secondary {
  color: purple;
  background-color: yellow;
}

.btn-secondary:hover{
  color:yellow
  background-color: purple;
}

.bg-dark {
  background-color: yellow;
}



.container{
    text-align: center;
}

.jumbotron{
  background-color: rgb(232, 190, 2);
}
