body {
  padding-top: 5rem;
  background-color: rgb(242, 224, 119);
  color: rgb(237, 87, 45);
  font-family: fantasy;
}

h1{
  color: rgb(237, 87, 45);
  font-family: fantasy;

}

p{
  color: orange;
}

.btn-primary {
  color: purple;
  background-color: yellow;
}

.btn-primary:hover{
  color:yellow
  background-color: purple;
}

.btn-secondary {
  color: purple;
  background-color: yellow;
}

.btn-secondary:hover{
  color:yellow
  background-color: purple;
}

.bg-dark {
  background-color: yellow;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
