.body{
  margin:20rem;
  background-color: yellow;
}

.navbar{
  background-color: rgba(245, 188, 66, 0.5);
  opacity: 40%;
}

.jumbotron-fluid{
  text-color: rgb(237, 87, 45);
font-family:fantasy;
  background-image: url("festival blur.jpeg");
 background-size: auto 100%;
}



.btn-warning{
  font-family:fantasy;
}
