body{
  background-color: rgb(245, 188, 66);
}

.navbar{
  background-color: rgba(245, 188, 66, 0.5);
}

.jumbotron-fluid{
  color: rgb(245, 188, 66);
font-family:fantasy;
  background-image: url("urban blur.jpeg");
 background-size: auto 100%;
}

.btn-warning{
  font-family:fantasy;
}
